body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: rgb(38, 138, 141);
  text-align: center;
  margin: 0;
  padding: 10px 0 15px;
}

.container {
  overflow: hidden;
}

.search {
  width: 95%;
  border: none;
  padding: 10px 60px;
}

.icon {
  color: rgb(179, 179, 179);
  position: absolute;
  padding: 10px 0 10px 30px;
}

.item {
  display: flex;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  border-bottom: 2px solid rgb(179, 179, 179);
}

.item-active {
  display: flex;
  background-color: rgb(183, 226, 219);
  padding: 10px;
  border-bottom: 2px solid rgb(179, 179, 179);
}

.avatar {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid rgb(179, 179, 179);
}

span {
  font-size: 26px;
  color: rgb(179, 179, 179);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid rgb(179, 179, 179);
  top: 10px;
  position: relative;
  padding: 8px;
  margin: 0;
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0;
  padding-left: 10px;
}

.email {
  font-size: 16px;
  font-weight: bold;
  color: rgb(117, 117, 117);
  margin: 0;
  padding-left: 10px;
}